:root {
    font-size: calc(0.5em + 1vw);

    --logo-height: 70px;  
    --map-height: 320px;  
    --month-height: 120px;
    
    --left-width: 170px;
    --center-width: 230px ;
}

body {
    font-family: "filson-pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }

.container {
    display: grid;
    grid-template-areas:
        "title                 title                filter-boxes  "
        "chart-map             chart-map            chart-list    "
        "chart-qtr-filed       chart-qtr-filed      chart-list    "
        "chart-qtr-decided     chart-qtr-decided    chart-list    "
        "chart-status          chart-topic          chart-list    ";
    grid-template-columns: var(--left-width) var(--center-width) 1fr;
    grid-template-rows: var(--logo-height) var(--map-height) var(--month-height) var(--month-height) 1fr;
    grid-gap: 10px 30px;
    margin: 3px;
    height: 100vh;
    width: calc(100vw - 1.1rem);
    overflow: hidden;
}

#filter-boxes {
    grid-area: filter-boxes;
}

#title {
    grid-area: title;
    fill: rgb(6, 15, 240); 
}

#chart-qtr-filed {
    grid-area: chart-qtr-filed;
}

#chart-qtr-decided {
    grid-area: chart-qtr-decided;
}

#chart-map {
    grid-area: chart-map;
}

#chart-topic {
    grid-area: chart-topic;
}

#chart-status {
    grid-area: chart-status;
}

#chart-list {
    grid-area: chart-list;
    overflow: auto;
}

